body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  max-width: 1200px; /* Ограничиваем ширину контента */
  margin: 0 auto; /* Центрируем контейнер */
  padding: 0 1rem; /* Добавляем отступы по бокам */
}