@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: #666;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #2c3e50;
}

p, a, span, label, input, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

button, a {
  color: #007bff;
}

button:hover, a:hover {
  color: #0056b3;
}